body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
  }

header {
    background-color: #56B4E9;
    color: #D55E00;
    padding: 20px;
    display: flex;
    align-items: center;
  }

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

header h1 {
    margin: 0;
    flex-grow: 1;
}

header img {
    height: 50px;
    margin-left: 20px;
}

#colors-table {
    width: 100%;
}

#colors-table td {
    height: 30px;
}

#color-col-left {
    width: 20%;
}

#color-col-right {
    width: 80%;
}

#rc-table {
    width: 100%;
}

#rc-table td {
    width: 30px;
    height: 30px;
}

#header {
    text-align: center;
    margin-bottom: 20px;
}

#header img {
    width: 200px;
}