/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #32014f;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
    flex-grow: 1;
  }
  
  header img {
    height: 50px;
    margin-left: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }
  
  main {
    padding: 20px;
  }
  
  .team-members {
    list-style-type: none;
    padding: 0;
  }
  
  .team-members li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .team-members img {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  footer {
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #32014f;
    color: #fff;

  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-container input {
    width: 100px;
    padding: 5px;
    margin-right: 10px;
  }
  
  #error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  @media print {
    header, nav, footer, button {
      display: none;
    }
    
    main {
      padding: 0;
    }
    
    table {
      page-break-inside: avoid;
    }
  }
#color-col-left {
  width: 20%;
}
#color-col-right {
  width: 80%;
}